<!DOCTYPE HTML>
<html>
    <head>
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{screamIt 'DaHaRi'}}</p>

        {{> footer}}
    </body>
</html>