<!DOCTYPE HTML>
<html>
    <head>
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        {{#each guitars}}
            <div style="border-radius:3px;padding:5px;border-bottom:solid black 1pt;width:25%;font-size:12pt;">{{this}}</div>
        {{/each}}

         {{> footer}}
    </body>
</html>